@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";


/* // NAV */
  
  .card-content {
    background-color: #FBFBFB !important;
  }

  /* Centered Menu */
  .navbar.has-centered-menu {
    .navbar-start {
      flex-grow: 1;
      justify-content: center;
    }
  }

  a.navbar-item {
    padding: 5px 20px;
  }

  a.navbar-item:hover {
    color: #9c9c9c !important;
  }

  .card-content {
    padding: 0;
  }
  /* Centered Logo Above */
  .navbar.has-logo-above {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .navLogo {
    min-width: 125px;
    min-height: 125px;
    padding: 0;
  }

  @media screen and (max-width: 1024px) {
    .navLogo {
      min-width: 100px;
      min-height: 100px;
      padding: 0;
    }

    .navbar-menu {
      display: none;
      background-color: #FBFBFB !important;
    }

    .card-content {
      background-color: transparent !important;
    }
  }

/* Megans Place */

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


/* // Preowned Furntiture */

.furnitureImg {
  
}

/* // FOOTER */

.footer {
    padding: 3rem 1.5rem 3rem;
}

ul.footerList {
    list-style-type: none;
}

body {
    padding-top: 0px;
  }