---
title: Begin Again Ministries
layout: layouts/base.njk
---


<section class="hero is-large">
  <div class="hero-head">
    {% include "nav.njk" %}
  </div>
  <div class="hero-body pt-5">
    <div class="container has-text-centered">
        <div>
          <img src="_assets/web-pics/BAM-logo.svg">
        </div>
        <p class="title">
            Who are we?
        </p>
        <p class="subtitle">
            Begin Again Ministries is offering hope to women who are or have been
            affected by substance use disorder. We recognize women need a safe
            place, specific support and assistance in order to stay clean long enough to
            begin the process of breaking free from drug use and its’ devastating
            effects. The Begin Again Transformational program offers sub-acute, non-
            medical, supportive services throughout the recovery process. We have a
            90-day residential program to assist women to reach their recovery goals
            through on-site non-judgmental, trauma informed, strength focused care.
        </p>
        <p class="subtitle">
            We believe that treating the body, mind and spirit within a supportive
            environment is key to freedom from life-controlling substances. We believe
            every women has God given unique strengths and abilities. Begin Again
            strives to get each women in touch with those strengths and combine them
            with the love of Jesus.
        </p>
        <a class="button is-info" href="#contact">
          Contact
        </a>
    </div>
  </div>
</section>
{% include 'sections/megansPlace.njk' %}
{% include 'sections/furniture.njk' %}
{% include 'sections/contact.njk' %}
{% include 'sections/directors.njk' %}