---
title: Begin Again Ministries
layout: layouts/base.njk
---


<section class="hero is-large">
  <div class="hero-head">
    {% include "nav.njk" %}
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">    
        <p class="title">
            Who are we?
        </p>
        <p class="subtitle">
            Begin Again Ministries is a transformation program for women who are or have been affected by substance use disorders and related issues and need assistance to break free from its devastating effects.
        </p>
        <p class="subtitle">
            Our program consists of a 90 day non-medical in-house program. We provide nonjudgement, trauma informed care that creates a healing environment that assists women in their goal to remain free of substance use.  We believe personal commitment combined with the right place and the right help is key to success.  We provide additional resources and transportation to other programs when needed.
        </p>
        {# <a class="button">Anchor</a> #}
    </div>
  </div>
</section>
{% include 'sections/megansPlace.njk' %}
{% include 'sections/furniture.njk' %}
{% include 'sections/directors.njk' %}