---
title: Begin Again Ministries
layout: layouts/base.njk
---

<section class="section is-medium is-primary is-bold">
    
    <div class="container">
        <h1 class="title is-1">Who are we?</h1>
        <div class="content">
            <p class="subtitle is-4">
                Begin Again Ministries is a transformation program for women who are or have been affected by substance use disorders and related issues and need assistance to break free from its devastating effects
            </p>
        </div>
        <div class="">
            <p class="subtitle is-4">
                Our program consists of a 90 day non-medical in-house program. We provide nonjudgement, trauma informed care that creates a healing environment that assists women in their goal to remain free of substance use.  We believe personal commitment combined with the right place and the right help is key to success.  We provide additional resources and transportation to other programs when needed
            </p>
        </div>
    </div>
</section>
{% include 'sections/megansPlace.njk' %}
{% include 'sections/directors.njk' %}