<section class="section is-small anchor" id="contact">
    <div class="container">
        <div class="content is-center">
            <h1 class="title is-2 mb-6" id="get-involved">Contact</h1>
            <div class="subtitle is-5">
                <strong>Email Address:</strong>
                <p><a href="mailto:beginagainministry@yahoo.com">beginagainministry@yahoo.com</a></p>
                <strong>Office location by appointment:</strong>
                <p>
                811 Owen Mills Drive 
                Stockton, Mo 65785
                </p>
                <strong>Mailing Address:</strong>
                <p>P. O. Box 146, Stockton, Mo 65785</p>
                <strong>Phone Number:</strong>
                <p>(417)-955-6134</p>
            </div>
        </div>
    </div>
</section>