<section class="section is-medium anchor" id="board">
    <div class="container" >
        <div class="title">
            <h1 class="title is-1">
                Board of Directors
            </h1>
        </div>
        <div class="columns is-multiline mt-5 is-8 is-variable">
            {% for director in site.directors %}
                <div class="column is-12-mobile is-6-tablet is-6-desktop">
                    <div class="card p-2">
                        <div class="card-content">
                            <h3 class="title is-3"> {{director.name}} </h3>
                            <h4 class="subtitle is-4"> {{director.title}} </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>