<footer class="footer text-gray-700 bg-white border-t body-font">
  <div>
    <div class="container flex flex-row justify-around px-5 py-6 lg:px-10">
      <div class="flex flex-col justify-around text-base">
          Begin Again Ministries, Inc
      </div>
      <div class="flex flex-col items-center justify-around text-base">
        <ul>
            <li>
                Office location by appointment: <span>811 Owen Mills Drive Stockton, MO 65785</span>
            </li>
            <li>
                P.O. Box 146, Stockton, MO 65785
            </li>
            <li>
                Email: Beginagainministries@gmail.com
            </li>
            <li>
                Phone: 417-000-0000
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>