<footer class="footer">
  <div class="content has-text-centered">
    <div class="">
          <p>	&copy; 2022 Begin Again Ministries, Inc</p>
      </div>
      {# <div class="text-base">
        <ul class="footerList">
            <li>
                <strong>Office location by appointment:</strong> <span>811 Owen Mills Drive Stockton, MO 65785</span>
            </li>
            <li>
                P.O. Box 146, Stockton, MO 65785
            </li>
            <li>
                <strong>Email:</strong> Beginagainministries@gmail.com
            </li>
            <li>
                <strong>Phone:</strong> 417-000-0000
            </li>
        </ul>
      </div> #}
  </div>
</footer>