 {% set links = {
    '#megansPlace': "Megan's Place",
    '#board': 'Board of Directors'
 }
 %}
 
    <div class="columns">
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <nav class="navbar is-light is-transparent has-logo-above" role="navigation" aria-label="main navigation">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <img class="navLogo" src="_assets/web-pics/BAM-logo.svg">
                            </a>
                        </div>
                        <div class="navbar-menu">
                            {% for link, title in links %}
                                <a class="navbar-item" href="{{ link }}">{{ title }}</a>
                            {% endfor %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>